
week-4/inflect/__pycache__/inflect.cpython-310.pyc
week-5/bank/__pycache__/bank.cpython-310-pytest-7.1.3.pyc
week-5/bank/__pycache__/bank.cpython-310.pyc
week-5/twtter/__pycache__/test_twttr.cpython-310-pytest-7.1.3.pyc
week-5/twtter/__pycache__/twttr.cpython-310.pyc
week-5/bank/__pycache__/test_bank.cpython-310-pytest-7.1.3.pyc
__pycache__
*/__pycache__/*
.gitignore